# Ignore logs and result files.
**/logs/
**/result/

# Ignore .snakemake directory
**/.snakemake

# Ignore all files in reference_genome and data directory
# but README.md, rules, and Snakefile
reference-data/*
!reference-data/README.md
!reference-data/rules/*
!reference-data/Snakefile

test-data/*
!test-data/scripts
!test-data/README.md
!test-data/rules/*
!test-data/Snakefile
